{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "ct-rn-kit": "..",
          "react-native-typography": "react-native-typography"
        }
      }
    ]
  ]
}
